@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --almostWhite: hsl(0, 0%, 98%);
    --mediumGray:hsl(0, 0%, 41%);
    --almostBlack:hsl(0, 0%, 8%);
}

.attribution { font-size: 11px; text-align: center; margin-top: 1rem;}
.attribution a { color: hsl(228, 45%, 44%); }

html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body{
    font-family: 'Epilogue', sans-serif;
    font-size:18px;
    height: 100%;
    background-color: var(--almostWhite);
    width: 100%;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}


/*Menu*/
.header-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    position: relative;
}

.header-container img{
    height: auto;
}

.menu-container-mobile{
    position: absolute;
    width: 300px;
    background-color: var(--almostWhite);
    color: var(--almostBlack);
    height: 100vh;
    top: 0;
    right: 0;
    padding: 1rem 2rem;
    display: none;
}

.img-close{
    display: none;
}

.menu-container-mobile .nav-container{
    display: flex;
    flex-direction: column;
    margin-top: 3.5rem;
    line-height: 3rem;
    color: var(--mediumGray);
}

.transp{
    height: 100vh;
    background-color: var(--almostBlack);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .8;
    display: none;
}

.nav-container div{
    display: flex;
    align-items: center;
}

.nav-container .arrow{
    margin-left: .7rem;
}

.nav-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--mediumGray);
}


.login{
    padding:1rem;
    margin-bottom: .5rem;
}

.register{
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    border: 2px solid var(--mediumGray);
    min-width: 120px;
    width: 100%;
}


.menu-dropdown .container-features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    color: var(--mediumGray);
    display: none;
    width: 100%;
}

.menu-dropdown {
    cursor: pointer;
    width: 100%;
}

.container-icon-text{
    width: 100%;
    padding-left: 1rem;
}

.container-icon-text img{
    margin-right: .8rem;
    height: 23px;
    width: 23px;
}

.desktop-menu{
    display: none;
}

.menu-dropdown{
    display: flex;
    flex-direction: column;
}

.container-text{
    position:relative;
}

.container-text img{
    position: absolute;
    top: 1.3rem
}


    /*menu hambuerguesa*/

.hamburger-menu{
    text-align: center;
}

.hamburger-menu > img{
    position: absolute;
    top:1.5rem;
    right: 1.5rem;
    z-index: 2;
}

.hamburger-menu .checkbox-hamburger{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 32px;
    height: 32px;
    z-index: 3;
    opacity: 0;
}

.hamburger-menu input:checked ~ .menu-open{
    display: none;
}

.hamburger-menu input:checked ~ .img-close{
    display:block;
}

.hamburger-menu input:checked ~ .menu-container-mobile,
.hamburger-menu input:checked ~ .transp{
    display: block;
}

.img-hero-desktop{
    display: none;
}

.hover{
    min-width:90px;
    width:100%;
}

@media(min-width:1280px){
    .nav-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-container{
        display: flex;
    }

    .hamburger-menu{
        width: 100%;
    }
    
    .hamburger-menu > img{
        display: none;
    }

    .hamburger-menu .menu-container-mobile{
        display: flex;
        position: relative;
        width: auto;
        height: auto;
    }

    .hamburger-menu > input{
        display: none;
    }

    .menu-container-mobile{
        justify-content: space-between;
    }

    .menu-container-mobile .nav-container{
        flex-direction: row;
    }

    .menu-dropdown{
        position: relative;
    }

    .menu-dropdown .container-features{
        position: absolute;
        top: 4rem;
        background-color: white;
        padding: 1rem 1.5rem;
        width: auto;
        border-radius: 1rem;
        box-shadow: 13px 13px 50px -5px rgba(0,0,0,0.65);
        margin: 0;
        display: none;
    }

    .menu-dropdown .container-features .container-icon-text{
        margin: 0;
        padding: 0;
    }
    
    .nav-buttons{
        flex-direction: row;
    }
    
    .hamburger-menu .nav-container{
        margin: 0;
        margin-left: 2rem;
    }

    .nav-container div{
        margin-right: 2rem;
    }

    .nav-buttons .login{
        margin: 0 1rem 0 0;
    }

    .feat{
        left: -5rem;
        min-width: 190px;
    }

    .container-features.com{
        width: 150px;
    }

    .hover:hover{
        font-weight: bold;
        color: var(--almostBlack);
    }

    .register:hover{
        border: 2px solid var(--almostBlack);
    }

    .nav-buttons a:hover{
        cursor: pointer;
        font-weight: bold;
        color: var(--almostBlack);
    }
}


/*Main*/
.img-hero-mobile{
    width: 100%;
    margin-top: 1rem;
}

.main-text{
    text-align: center;
    margin-top: 3rem;
    max-width: 375px;
    margin: 3rem auto;
}

.main-text h1{
    font-size: 2.2rem;
    margin-bottom: 1.2rem;
}

.main-text p{
    color: var(--mediumGray);
    line-height: 1.8rem;
    margin-bottom: 1.5rem;
}

.main-text button{
    padding: .8rem 1.5rem;
    background-color: var(--almostBlack);
    color: white;
    border-radius: .8rem;
    border: none;
    cursor: pointer;
}

.br{
    display: none;
}

@media(min-width:1280px){
    .img-hero-desktop{
        display: block;
    }
    
    .img-hero-mobile{
        display: none;
    }

    .main-text{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        min-width: 1100px;
        width: 100%;
        max-width: 1440px;
        text-align: start;
        padding: 0 7rem;
        height: 100%;
    }
    
    .main-text .text{
        width: 55%;
    }

    .main-text img{
        width: 45%;
    }

    .text h1{
        font-size: 4.7rem;
    }

    .text{
        margin-right: 5rem;
    }

    .br{
        display: block;
    }

    .text p{
        width: 90%;
        margin-bottom: 4rem;
        margin-top: 3rem;
    }

    .text button{
        margin-bottom: 8rem;
    }

    .main-text button:hover{
        background-color: white;
        border: 2px solid var(--almostBlack);
        color: var(--almostBlack);
        font-weight: bold;
        margin-bottom: 7.75rem;
    }
}


/*Clientes*/
.clientes{
    padding:0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

@media(min-width:1280px){
    .clientes{
        padding: 0;
        height: 25px;
        margin-top: 7rem;
    }

    .clientes img{
        height: 100%;
        width: auto;
    }
}

.show{
    display: block !important; 
}